// GENERAL
body {
    background-color: black;
}

button {
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
}

// TABLE CONTAINER
.main-container {
    display: grid;
    height: 100vh;
    background-color: red;

    .container-row {
        div {
            button {
                background-color: rgb(237, 237, 237);
                height: 100%;
                width: 100%;
                &:hover {
                    background-color: rgb(192, 192, 192);
                }
                .link {
                    background-color: red;
                    height: 100px;
                    width: 100px;
                }
            }
            .active {
                background-color: rgb(157, 157, 157);
            }
        }
    }

    .container-row-first {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 1fr;
    }

    .container-row-second {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    .container-row-page2 {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    }
}