//------ General ------//
body {
    background-color: black;
}

button {
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
}

//------ Variables ------//
$primary-color: rgb(130, 72, 146);
$primary-color-text: white;
$secondary-color: rgb(255, 51, 29);
$secondary-color-text: black;
$black-bg: black;
$tertiary-color: rgb(166, 48, 1);
$barcode-color: rgb(0, 191, 255);
$misc-color: rgb(255, 208, 0);
$active-color: rgb(45, 147, 42);
$page3-btn-color: rgb(1, 115, 221);
$page5-btn-color: rgb(107, 196, 59);
$page8-btn-color: rgb(66, 163, 172);
$page9-btn-color: rgb(98, 53, 9);
$page10-btn-color: rgb(159, 199, 201);


//------ Mixins ------//
@mixin button-styles($background-color, $text-color) {
    color: $text-color;
    font-weight: 700;
    text-align: center;
    background-color: $background-color;
    height: 100%;
    width: 100%;
    &:hover {
        filter: contrast(400%);
    }
    .link {
        background-color: $secondary-color;
        height: 100px;
        width: 100px;
    } 
}


//------ Container ------//
.main-container {
    display: grid;
    height: 100vh;
    background-color: $secondary-color;

    .container-row {
        div {
            button {
                @include button-styles($primary-color, $primary-color-text);
            }
            .menu-btn {
                background-color: $black-bg;
            }
            .submenu-btn-row-first {
                text-transform: uppercase;
                background-color: $secondary-color;
            }
            .submenu-btn-row-second {
                text-transform: uppercase;
                background-color: $tertiary-color;
            }
            #barcode-btn {
                background-color: $barcode-color;
                color: $secondary-color-text;
            }
            .misc-btn {
                background-color: $misc-color;
                color: $secondary-color-text;
            }
            .category {
                font-size: 30px;
                color: $misc-color;
                text-transform: uppercase;
            }
            .active {
                background-color: $active-color;
                color: $misc-color;
                text-transform: uppercase;
            }
            .item-pg-3 {
                background-color: $page3-btn-color;
            }
            .item-pg-5 {
                background-color: $page5-btn-color;
                color: $secondary-color-text;
            }
            .item-pg-7 {
                background-color: $active-color;
                color: $primary-color-text;
            }
            .item-pg-8 {
                background-color: $page8-btn-color;
                color: $primary-color-text;
            }
            .item-pg-9 {
                background-color: $page9-btn-color;
                color: $primary-color-text;
            }
            .item-pg-10 {
                background-color: $page10-btn-color;
                color: $secondary-color-text;
            }
        }
    }

    .container-row-first {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 1fr;
    }

    .container-row-second {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    .container-row-page2 {
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    }
    .container-row-page7 {
        grid-template-columns: repeat(7, 1fr);
    }
    .container-row-page8 {
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
    }
    
    grid-template-rows: repeat(10, 1fr);
}