// GENERAL
body {
    background-color: black;
}

button {
    cursor: pointer;
}

// TABLE CONTAINER
.main-container {
    background-color: white;

    .container-row {
        background-color: aqua;
        div {
            button {
                background-color: rgb(237, 237, 237);
                width: 100%;
                &:hover {
                    background-color: rgb(192, 192, 192);
                }
            }
        }
    }

    .container-row-first {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 1fr;
    }

    .container-row-second {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
}

